.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-totalgeral {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
