.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
    height: 30px;
    padding: 10px;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}
.divline {
    display: inline-block;
}
.divright {
    float: right;
}

.carditem {
    background: #ECF0F5;
}

.conteudo-principal-com-rolagem {
    overflow: scroll;
    height: 100%;
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px
}

.bg-red,.callout.callout-danger,.alert-danger,.alert-error,.label-danger,.modal-danger .modal-body {
    background-color: #dd4b39 !important
}